body{
	padding-top: 70px;
	font-family: Lato;
}
h1{
	font-weight: 700;
	font-size: 5em;
}
.jumbotron{
	color: #2c3e50;
	background: #ecf0f1;
}
.navbar-inverse{
	background:#2c3e50 ;
}
.navbar-inverse .navbar-nav>li>a{
	color: white;
}
.navbar-inverse .navbar-brand{
	color: white;
}